body {
    margin-right: 4%;
    margin-top: 9%;
    position: absolute;
    /* background-image: url(12-free-blurred-backgrounds.jpg); */
    background-color: rgba(0, 0, 0, 0.482);
    background-repeat:no-repeat;
    background-size: 900%;
}

.con {
    display: grid;
    margin-left: 11%;
}

.container {
    display: flex;
    width: 1000px;
    background-color:darkgray;
    margin-top: 5%;
    margin-left: 10%;
    padding: 10px;
    height: 450px;
    border: 20px solid;
}
.container1{
    display: flex;
    width: 1000px;
    background: linear-gradient(135deg,#3d64b2,#8c328c);
    margin-top: 5%;
    margin-left: 10%;
    padding: 10px;
    height: 450px;
    border: 20px solid ;
}
.container2{
    display: flex;
    width: 1000px;
    background: #4c308df8;
    margin-top: 5%;
    margin-left: 10%;
    padding: 10px;
    height: 450px;
    border: 20px solid;
    
}
.container3{
    display: flex;
    width: 1000px;
    background: linear-gradient(135deg,#8c328c,#022365);
    margin-top: 5%;
    margin-left: 10%;
    padding: 10px;
    height: 450px;
    border: 20px solid;
    
}
.image img {
    height: 440px;
    margin-right: 20px; /* Add right margin to separate the text from the image */
}
#we{
    margin-left: -10px;
    margin-top: -10px;
}

.content {
    flex-grow: 1; /* Allow the text to expand and take available space */
}

#b {
   
    background-color:black;
    width: 440px;
    height: 3%;
    position: absolute;
    bottom: 1715px;
    left: 248px;
    align-items: center;
    cursor:grab;
    border: none;
    margin-bottom: -7px;
}

#a1 {
    text-decoration: none;
    color: aliceblue;
    cursor:grab;
}

#b:hover{
    background-color:rgb(49, 46, 46);
    cursor:grab;
}

#b1 {
    background-color:rgb(231, 101, 53);
    width: 440px;
    height: 3%;
    position: absolute;
    bottom: 1150px;
    left: 248px;
    align-items: center;
    cursor:grab;
    border: none;
    margin-bottom: -4px;
}
#b1:hover{
    background-color:chocolate;
    cursor:grab;
}

#b2 {
    background-color: #134bb4;
    width: 440px;
    height: 3%;
    position: absolute;
    bottom: 587px;
    left: 248px;
    align-items: center;
    cursor:grab;
    border: none;
    margin-bottom: -4px;
}
#b2:hover{
    background-color:#1e4692;
    cursor:grab;
}
#b3 {
    background-color: crimson;
    width: 440px;
    height: 3%;
    position: absolute;
    bottom: 1px;
    left: 248px;
    align-items: center;
    cursor:grab;
    border: none;
    margin-bottom: 17px;
}
#b3:hover{
    background-color:rgb(212, 59, 90);
    cursor:grab;
}
header{
    color:darkslategrey;
    font-size: 80px;
    align-items: center;
    margin-left: 400px;
    margin-top: 4%;
    background-color: aliceblue;
}
header:hover{
    background-color: beige;
    
}

#todo{
    margin-left: -10px;
    margin-top: -10px;
    height: 91%;
}
#m1{
    margin-left: -10px;
    margin-top: -10px;
    height: 91%;
}

#t1{
    margin-left: 20%;
}
